root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_brace_style = 1TBS

[*.{sh,markdown}]
indent_size = 4
