.repl_history
vendor
build
tags
app/pixate_code.rb
resources/*.nib
resources/*.momd
resources/*.storyboardc
resources/*.lproj/Localizable.strings
.DS_Store
nbproject
.redcar
#*#
*~
*.sw[po]
.eprj
.sass-cache
.idea
.dat*.*
.env
sparkle/release
sparkle/release/*
sparkle/config/dsa_priv.pem
