github "bitstadium/HockeySDK-Mac" "5.0.0"
github "jwilling/JNWCollectionView" "master"
github "tid-kijyun/Kanna" ~> 4.0.0
github "shpakovski/MASPreferences" "master"
github "sparkle-project/Sparkle" "master"
github "annjose/TextAttributes" "annjose-master"
github "Zeropointer11/Wrap" "master"
github "JohnSundell/Unbox"
github "ZipArchive/ZipArchive"
github "SwiftyBeaver/SwiftyBeaver" "1.7.1"
github "ccgus/fmdb"
github "1024jp/GzipSwift"
github "realm/realm-cocoa" "v3.21.0"
github "Hearthsim/HearthMirror" "cpp"
github "lorentey/BTree"
github "bmichotte/RegexUtil"
github "martinbonnin/AwaitKit" "unbreak-promisekit"
github "OAuthSwift/OAuthSwift" ~> 1.2.0
github "onevcat/Kingfisher" "4.10.1" #we use Kingfisher v4 and not v5 to support OSX < 10.12
