github "emaloney/CleanroomLogger" "2.2.0"
github "emaloney/CleanroomASL" "1.5.0"
github "bitstadium/HockeySDK-Mac" "4.1.0"
github "jwilling/JNWCollectionView" "6724b19a30dba0660b2dfce6a53af08d95eba883"
github "tid-kijyun/Kanna" "1.1.1"
github "shpakovski/MASPreferences" "1.2"
github "sparkle-project/Sparkle" "625c9425610ef90b9f0692d45de8b4c7f9c17b7a"
github "bmichotte/TextAttributes" "swift-2.3" # use fork while PR not yet accepted
github "JohnSundell/Unbox" "swift2"
github "JohnSundell/Wrap" "swift2"
github "ZipArchive/ZipArchive" "swift23"
github "groue/GRDB.swift" "Swift2.3"
