<html>
  <head>
    <title>Release Notes for <%= @config.name %></title>
    <style>
      * { font-family: "Helvetica Neue", "Helvetica", "Arial", "Sans";}
      h1 { background-color: #ABABFF; padding: 10px;}
      h1 span { font-size: 75%; font-weight: normal; float: right;}
      dt { font-size: 105%; font-weight: bold; margin: 5px 0;}
      dd { margin: 0; padding: 5px 0 0 5px; }
      dd p {margin: 2px 0; padding: 0;}
    </style>
  </head>
  
  <body>
    
    <%= release_notes_html %>

  </body>
</html>
