on:
  release:
    types: [released]
  workflow_dispatch:
    inputs:
      release_id:
        type: number
        required: true

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download release asset
        uses: dsaltares/fetch-gh-release-asset@1.1.2
        with:
          version: ${{ github.event.release.id || github.event.inputs.release_id }}
          file: 'HSTracker.app.zip'

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ASIA_DEPLOY_ROLE_ARN }}
          aws-region: ap-east-1

      - name: Publish
        run: aws s3 cp HSTracker.app.zip "s3://${{ secrets.AWS_S3_BUCKET }}/hstracker/HSTracker.app.zip"
